.App {
    text-align: center;
  }
  
  .App-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    margin-top: 5%;
  }

  .About-text{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }
  
  .App-header {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  