@tailwind base;
@tailwind components;
@tailwind utilities;

#markerText{
  color: inherit;
}

#weatherButtons {
    background-color: #2f3037;
    color: white;
}

#recommendations {
  &:hover{
    background-color: #343a40;
  }
}

.leaflet-control { z-index: 0 !important}
.leaflet-pane { z-index: 0 !important}
.leaflet-top, .leaflet-bottom {z-index: 0 !important}
  

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(20, 19, 19);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

