@tailwind base;
@tailwind components;
@tailwind utilities;

#markerText{
  color: inherit;
}

#recommendations {
  &:hover{
    background-color: #343a40;
  }
}

.leaflet-control { z-index: 0 !important}
.leaflet-pane { z-index: 0 !important}
.leaflet-top, .leaflet-bottom {z-index: 0 !important}
  
.markdown {
  h2{
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 25px;
  }
  
  li{
    font-size: large;
    margin-left: 60px;
    list-style-type: decimal-leading-zero;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(20, 19, 19);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

