.App-logo {
    height: 40vmin;
    pointer-events: none;
  }  
  
  #opacityBar {
      pointer-events: all !important;
  }

.leaflet-control { z-index: 0 !important}
.leaflet-pane { z-index: 0 !important}
.leaflet-top, .leaflet-bottom {z-index: 0 !important}
  
